* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

  
  body {
    height: 100vh;  
    
}

  .bgBig {
    -webkit-mask-image: linear-gradient(to top, black, black, transparent);
    mask-image: linear-gradient(to top, black, black, transparent);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    height: 100vh;  
    overflow: hidden;
    z-index: 1;
    
}

section {
    z-index: 2;  
    position: fixed;
    background-color: antiquewhite;
}

.offcanvas-body {
    margin: 0 !important;
}

.card {
    transition: all 0.9s ease-in-out;
    width: 400px;
    height: 300px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.card > img {
    width: 100%;
    height: auto;
}

.card-img {
    height: 150px;              
    width: 100%;                 
    object-fit: contain;         
    background-color: #fff;      
    border-radius: 4px;
}

