* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {

    height: 100vh;
}

.offcanvas-body {
    margin: 0 !important;
}

.card {
    transition: all 0.9s ease-in-out;
    width: 400px;
    height: 300px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.card > img {
    width: 100%;
    height: auto;
}

.card-img {
    height: 150px;               /* Altura fixa para todas as imagens */
    width: 100%;                 /* Largura total do card */
    object-fit: contain;         /* Contém a imagem sem cortar */
    background-color: #fff;      
    border-radius: 4px;
}



