*{
    color: var(--ford-color);
    box-sizing: border-box;
}

/* Switch personalizado */
.custom-switch {
    position: relative;
    display: inline-block;
    min-width: 60px;
    height: 30px;
    cursor: pointer;
}
  
.custom-input-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}
  
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.2);
    border: 2px solid transparent;
    border-radius: 30px;
    transition: 0.4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
.custom-input-checkbox:checked + .slider {
    background-color: var(--ford-color);
    border-color: blue;
}
  
.custom-input-checkbox:checked + .slider:before {
    transform: translateX(26px);
}

  /* Botão */
.btn_Login {
    transition: 0.5 ease;
}

.btn_Login:hover {
    background-color: var(--ford-color);
    scale: 1.01;
}

/* Imagem da Logo */

.img_Logo {
    height: auto;
    width: 80px;
}

@media (min-width: 768px) {
    .img_Logo {
        width: 120px;
    }
}
@media (min-width: 992px) {
    .img_Logo {
        width: 160px;
    }
}
 